#============= cnd ==============
allow cnd diag_device:chr_file { ioctl open read write };

#============= hal_audio_default ==============
allow hal_audio_default diag_device:chr_file { ioctl open read write };

#============= hal_fingerprint_default ==============
allow hal_fingerprint_default default_android_hwservice:hwservice_manager add;

#============= hal_graphics_composer_default ==============
allow hal_graphics_composer_default diag_device:chr_file { ioctl open read write };

#============= hal_imsrtp ==============
allow hal_imsrtp diag_device:chr_file { ioctl open read write };

#============= hal_rcsservice ==============
allow hal_rcsservice diag_device:chr_file { ioctl open read write };

#============= hal_sensors_default ==============
allow hal_sensors_default diag_device:chr_file { ioctl open read write };

#============= idmap ==============
allow idmap installd:file read;

#============= ims ==============
allow ims diag_device:chr_file { ioctl open read write };

#============= init ==============
allow init diag_device:chr_file { ioctl write };
allow init media_rw_data_file:file append;
allow init mnt_user_file:lnk_file read;
allow init sdcardfs:dir { open read search };
allow init sdcardfs:file { append open read };
allow init self:netlink_generic_socket { bind create getattr read setopt write };
allow init self:netlink_socket { bind create read };
allow init storage_file:lnk_file read;
#allow init vendor_file:file { execute execute_no_trans };
allow init wifi_data_file:file append;

#============= netutils_wrapper ==============
allow netutils_wrapper diag_device:chr_file { read write };

#============= per_mgr ==============
allow per_mgr self:capability net_raw;

#============= qti_init_shell ==============
allow qti_init_shell ctl_console_prop:property_service set;
allow qti_init_shell sysfs:file write;
allow qti_init_shell sysfs_cpu_boost:file write;
allow qti_init_shell sysfs_lowmemorykiller:dir write;

#============= rild ==============
allow rild vendor_file:file ioctl;

#============= sensors ==============
allow sensors diag_device:chr_file { ioctl open read write };

#============= system_server ==============
allow system_server alarm_boot_prop:file { getattr open };
allow system_server default_android_hwservice:hwservice_manager find;

#============= untrusted_app ==============
#allow untrusted_app time_daemon:unix_stream_socket connectto;

#============= untrusted_app_25 ==============
#allow untrusted_app_25 adbd_exec:file read;
#allow untrusted_app_25 adsprpcd_exec:file read;
#allow untrusted_app_25 anr_data_file:dir read;
#allow untrusted_app_25 atfwd_exec:file read;
#allow untrusted_app_25 audio_device:dir read;
#allow untrusted_app_25 block_device:dir read;
#allow untrusted_app_25 bootanim_exec:file read;
#allow untrusted_app_25 bootchart_data_file:dir read;
#allow untrusted_app_25 bootstat_exec:file read;
#allow untrusted_app_25 bt_firmware_file:dir read;
#allow untrusted_app_25 btnvtool_exec:file read;
#allow untrusted_app_25 cache_file:lnk_file read;
#allow untrusted_app_25 cameraserver_exec:file read;
#allow untrusted_app_25 cgroup:dir read;
#allow untrusted_app_25 clatd_exec:file read;
#allow untrusted_app_25 cnd_exec:file read;
#allow untrusted_app_25 configfs:dir read;
#allow untrusted_app_25 debugfs:dir read;
#allow untrusted_app_25 device:dir read;
#allow untrusted_app_25 devpts:dir read;
#allow untrusted_app_25 diag_exec:file read;
#allow untrusted_app_25 dnsmasq_exec:file read;
#allow untrusted_app_25 drmserver_exec:file read;
#allow untrusted_app_25 dumpstate_exec:file read;
#allow untrusted_app_25 e2fs_exec:file read;
#allow untrusted_app_25 energyawareness_exec:file read;
#allow untrusted_app_25 firmware_file:dir { read search };
#allow untrusted_app_25 firmware_file:file read;
#allow untrusted_app_25 fm_qsoc_patches_exec:file read;
#allow untrusted_app_25 fsck_exec:file read;
#allow untrusted_app_25 full_device:chr_file { read write };
#allow untrusted_app_25 gamed_exec:file read;
#allow untrusted_app_25 gatekeeperd_exec:file read;
#allow untrusted_app_25 graphics_device:chr_file read;
#allow untrusted_app_25 graphics_device:dir read;
#allow untrusted_app_25 hal_dpmQmiMgr_exec:file read;
#allow untrusted_app_25 hal_imsrtp_exec:file read;
#allow untrusted_app_25 hal_rcsservice_exec:file read;
#allow untrusted_app_25 hbtp_cfg_file:dir read;
#allow untrusted_app_25 hbtp_exec:file read;
#allow untrusted_app_25 healthd_exec:file read;
#allow untrusted_app_25 hostapd_exec:file read;
#allow untrusted_app_25 hvdcp_exec:file read;
#allow untrusted_app_25 hwservicemanager_exec:file read;
#allow untrusted_app_25 idmap_exec:file read;
#allow untrusted_app_25 ims_exec:file read;
#allow untrusted_app_25 init_exec:file getattr;
#allow untrusted_app_25 input_device:dir read;
#allow untrusted_app_25 installd_exec:file read;
#allow untrusted_app_25 ipacm-diag_exec:file read;
#allow untrusted_app_25 ipacm_exec:file read;
#allow untrusted_app_25 irsc_util_exec:file read;
#allow untrusted_app_25 keystore_exec:file read;
#allow untrusted_app_25 lmkd_exec:file read;
#allow untrusted_app_25 location_exec:file read;
#allow untrusted_app_25 mediadrmserver_exec:file read;
#allow untrusted_app_25 mediaextractor_exec:file read;
#allow untrusted_app_25 mediametrics_exec:file read;
#allow untrusted_app_25 mediaserver_exec:file read;
#allow untrusted_app_25 mlid_exec:file read;
#allow untrusted_app_25 mm-pp-daemon_exec:file read;
#allow untrusted_app_25 mm-qcamerad_exec:file read;
#allow untrusted_app_25 mmi_data_file:dir read;
#allow untrusted_app_25 mmi_exec:file read;
#allow untrusted_app_25 msm_irqbalanced_exec:file read;
#allow untrusted_app_25 netd_exec:file read;
#allow untrusted_app_25 netmgrd_exec:file read;
#allow untrusted_app_25 netutils_wrapper_exec:file { execute read };
#allow untrusted_app_25 otapreopt_chroot_exec:file read;
#allow untrusted_app_25 otapreopt_slot_exec:file read;
#allow untrusted_app_25 per_mgr_exec:file read;
#allow untrusted_app_25 perfprofd_exec:file read;
#allow untrusted_app_25 persist_file:dir { getattr read };
#allow untrusted_app_25 persist_file:file read;
#allow untrusted_app_25 port-bridge_exec:file read;
#allow untrusted_app_25 postinstall_mnt_dir:dir { getattr read search };
#allow untrusted_app_25 power_off_alarm_exec:file read;
#allow untrusted_app_25 ppp_exec:file read;
#allow untrusted_app_25 proc:file { read write };
#allow untrusted_app_25 proc_interrupts:file read;
#allow untrusted_app_25 proc_modules:file read;
#allow untrusted_app_25 proc_timer:file read;
#allow untrusted_app_25 proc_zoneinfo:file read;
#allow untrusted_app_25 profman_exec:file read;
#allow untrusted_app_25 qlogd_exec:file read;
#allow untrusted_app_25 qti_exec:file read;
#allow untrusted_app_25 qti_init_shell_exec:file read;
#allow untrusted_app_25 qti_logkit_exec:file read;
#allow untrusted_app_25 racoon_exec:file read;
#allow untrusted_app_25 recovery_persist_exec:file read;
#allow untrusted_app_25 recovery_refresh_exec:file read;
#allow untrusted_app_25 regionalization_file:dir { read search };
#allow untrusted_app_25 regionalization_file:file read;
#allow untrusted_app_25 rfs_access_exec:file read;
#allow untrusted_app_25 rmt_storage_exec:file read;
#allow untrusted_app_25 rootfs:dir { open read };
#allow untrusted_app_25 rootfs:file { getattr read };
#allow untrusted_app_25 sdcardd_exec:file read;
#allow untrusted_app_25 self:dir write;
#allow untrusted_app_25 sensors_exec:file read;
#allow untrusted_app_25 sensors_persist_file:dir read;
#allow untrusted_app_25 sepolicy_file:file { getattr read };
#allow untrusted_app_25 servicemanager_exec:file read;
#allow untrusted_app_25 sgdisk_exec:file read;
#allow untrusted_app_25 ssr_diag_exec:file read;
#allow untrusted_app_25 ssr_setup_exec:file read;
#allow untrusted_app_25 subsystem_ramdump_exec:file read;
#allow untrusted_app_25 sysfs:dir read;
#allow untrusted_app_25 system_file:file write;
#allow untrusted_app_25 tbaseLoader_exec:file read;
#allow untrusted_app_25 tee_exec:file read;
#allow untrusted_app_25 thermal-engine_exec:file read;
#allow untrusted_app_25 thermalserviced_exec:file read;
#allow untrusted_app_25 time_daemon_exec:file read;
#allow untrusted_app_25 tombstoned_exec:file read;
#allow untrusted_app_25 tzdatacheck_exec:file read;
#allow untrusted_app_25 update_engine_exec:file read;
#allow untrusted_app_25 update_verifier_exec:file read;
#allow untrusted_app_25 vdc_exec:file read;
#allow untrusted_app_25 vendor_file:file { read write };
#allow untrusted_app_25 vendor_hal_file:file { read write };
#allow untrusted_app_25 vendor_shell_exec:file read;
#allow untrusted_app_25 vendor_toolbox_exec:file { execute read };
#allow untrusted_app_25 vndbinder_device:chr_file { read write };
#allow untrusted_app_25 vndservicemanager_exec:file read;
#allow untrusted_app_25 vold_exec:file read;
#allow untrusted_app_25 wcnss_filter_exec:file read;
#allow untrusted_app_25 wcnss_service_exec:file read;
#allow untrusted_app_25 wificond_exec:file read;
#allow untrusted_app_25 wifidisplayhalservice_qti_exec:file read;
